@import "tailwindcss";

@font-face {
  font-family: "display";
  src: url("./assets/fonts/BUGATTIDisplay-Regular.woff2");
}

@font-face {
  font-family: "monospace";
  src: url("./assets/fonts/BUGATTIMonospace-Regular.woff2");
}

@theme {
  --font-family-display: "display", sans-serif;
  --font-family-mono: "monospace", monospace;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 6px;
  border: 2px solid #a5a2a2;
}
