@import "tailwindcss";

@font-face {
  font-family: "display";
  src: url("./assets/fonts/BUGATTIDisplay-Regular.woff2");
}

@font-face {
  font-family: "monospace";
  src: url("./assets/fonts/BUGATTIMonospace-Regular.woff2");
}

@theme {
  --font-family-display: "display", sans-serif;
  --font-family-mono: "monospace", monospace;
}
